.header-wrapper {
  display: table;
  width: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background-color: #333;
}

.header {
  text-align: center;
}

.logo {
  margin: auto;
  height: 400px;
  padding: 50px 0;
}

.theme .header, .worship .header {
  color: #eee;
}

.theme, .worship {
  background-size: cover;
  background-position: center;
}

.theme {
  font-size: 100px;
  background-image: url('theme.jpg');
  font-family: 'Pacifico', cursive;
  overflow: hidden;
  line-height: 100px;
}

.worship {
  font-size: 72px;
  background-image: url('service.jpg');
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 72px;
}

.theme .slogan {
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  padding: 200px 0;
}

.worship .slogan {
  padding: 200px 0;
}

.theme .header, .worship .header {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.heaven-bound {
  -webitkit-text-stroke:2px #1D3170;
  background: -webkit-linear-gradient(top, #eee,#8C8C8C);
  background: linear-gradient(top, #eee, #8C8C8C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

#map-canvas {
  width: 100%;
  height: 400px;
}

.footer {
  padding: 10px 0 30px 0;
  background-color: #333;
  color: #ccc;
  font-size: 11px;
  text-align: center;
}

.footer a {
  color: #aaa;
}

.site-name {
  font-size: 48px;
  background-color: #111;
  color: #aaa;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  line-height: 46px;
  padding: 20px 0;
}

.site-name small, .site-name small a {
  font-size: 24px;
  line-height: 24px;
  color: #555;
}

.footer-slogan, .footer-slogan a, .footer-slogan a:hover {
  font-family: 'Condiment', cursive;
  color: #890000;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  text-decoration: none;
}

.footer .github a {
  font-size: 20px;
  color: #292929;
}

.youth-pastor {
  text-align: center;
  background-color: #8c2318;
  color: #aaa;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 20px;
  padding: 10px 0;
}

.youth-pastor a, .youth-pastor a:hover {
  color: #fff;
}

@media screen and (max-width: 640px) {
  .theme {
    font-size: 72px;
    line-height: 72px;
  }

  .site-name {
    font-size: 28px;
    line-height: 28px;
  }

  .site-name small, .site-name small a {
    font-size: 20px;
    line-height: 12px;
    font-weight: 300;
  }

  .worship {
    font-size: 36px;
    line-height: 36px;
    font-weight: 300;
  }
}
