.header-wrapper {
  display: table;
  width: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background-color: #333;
}

.header {
  text-align: center;
}

.logo {
  margin: auto;
  height: 400px;
  padding: 50px 0;
}

.theme .header, .worship .header {
  color: #eee;
}

.theme, .worship {
  background-size: cover;
  background-position: center;
}

.theme {
  background-image: url('theme.jpg');
  font-family: 'Pacifico', cursive;
  overflow: hidden;
  font-size: 100px;
  line-height: 110px;
}

.worship {
  font-size: 72px;
  background-image: url('service.jpg');
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 72px;
}

.theme .slogan {
  padding: 300px 0;
}

.worship .slogan {
  padding: 200px 0;
}

.worship .header {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.heaven-bound, .heaven-bound::after {
  position: absolute;
  top: 0;
  bottom: 0;
  display: table;
  margin-top: 200px;
  width: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.heaven-bound::after {
  margin: 0;
}

.heaven-bound {
  z-index: 1;
  color: #d4d7de;
  text-align: center;
  letter-spacing: 1px;
}

/* Set the psuedoelement beneath parent */
.heaven-bound::after {
  z-index: -1;
  content: attr(data-content);
  -webkit-text-stroke: 8px #1a2c6c;
}

#map-canvas {
  width: 100%;
  height: 400px;
}

.footer {
  padding: 10px 0 30px 0;
  background-color: #333;
  color: #ccc;
  font-size: 11px;
  text-align: center;
}

.footer a {
  color: #aaa;
}

.site-name {
  font-size: 48px;
  background-color: #111;
  color: #aaa;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  line-height: 46px;
  padding: 20px 0;
}

.site-name small, .site-name small a {
  font-size: 24px;
  line-height: 24px;
  color: #555;
}

.footer-slogan, .footer-slogan a, .footer-slogan a:hover {
  font-family: 'Condiment', cursive;
  color: #890000;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  text-decoration: none;
}

.footer .github a {
  font-size: 20px;
  color: #292929;
}

.summer-camp {
  text-align: center;
  background-color: #8c2318;
  color: #aaa;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 20px;
  padding: 10px 0;
}

.summer-camp a, .summer-camp a:hover {
  color: #fff;
}

@media screen and (max-width: 640px) {
  .theme {
    font-size: 72px;
    line-height: 72px;
  }

  .site-name {
    font-size: 28px;
    line-height: 28px;
  }

  .site-name small, .site-name small a {
    font-size: 20px;
    line-height: 12px;
    font-weight: 300;
  }

  .worship {
    font-size: 36px;
    line-height: 36px;
    font-weight: 300;
  }

  .heaven-bound::after {
    -webkit-text-stroke: 6px #1a2c6c;
  }
}
